MYSQL_HOST=127.0.0.1
MYSQL_PORT=6206
MYSQL_DATABASE=Mock-WS
MYSQL_USER=
MYSQL_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PORT=6204
REDIS_PASSWORD=

FASTAPI_API_KEY=

MINIO_HOST=127.0.0.1:6208
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=profile-photos

DJANGO_SECRET_KEY=
DJANGO_DEBUG=True